$body-bg: white;
$bright-color: #1865FB;
$complementary-color: #869CAD;
$dark-color: #242529;
$light-color: #E7E7ED;
$solid-color: #00254e;

$portlet-decorate-bg: #FFF;
$portlet-decorate-border: 1px solid $light-color;
$font-family-sans-serif: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont,
	'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial,
	sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;